<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Notify</title>
    <link rel="stylesheet" href="style.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="container">
        <h1>Notification Service</h1>
        <p>Subscribe to receive push notifications.</p>
        <!-- Button to trigger subscription -->
        <button id="subscribeButton">Subscribe to Notifications</button>
        <button id="unsubscribeButton">Unsubscribe</button>
    </div>

    <script>
        const key = '{{ . }}';
    </script>
    <script src="subscribe.js"></script>

</body>

</html>
