<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GoNotify Service</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="GoNotify" />
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="container">
        <h1>GoNotify Service</h1>
        <p>Subscribe to receive push notifications.</p>
        <!-- Button to trigger subscription -->
        <button id="subscribeButton">Subscribe to Notifications</button>
        <button id="unsubscribeButton">Unsubscribe</button>
        <p id="successMessage"></p>
        <p id="errorMessage"></p>
    </div>

    <script>
        const key = '{{ . }}';
    </script>
    <script src="subscribe.js"></script>

</body>

</html>